@model TestBlogCore.Models.Category

@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="container mt-4">
    <h2 class="text-primary text-center">Editar Categoría</h2>

    <form method="POST" asp-action="Edit" class="mt-3">
        <!-- Mensaje de validación general -->
        <div asp-validation-summary="All" class="alert alert-danger"></div>

        <div class="row g-3">
            <!-- Campo Nombre -->
            <div class="form-group col-md-6">
                <label asp-for="Name" class="form-label text-secondary">Nombre</label>
                <input asp-for="Name" class="form-control" placeholder="Ingrese el nombre de la categoría" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Campo Orden -->
            <div class="form-group cod-md-6">
                <label asp-for="Order" class="form-label text-secondary">Orden</label>
                <input asp-for="Order" class="form-control" placeholder="Ingrese el orden de la categoría" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        </div>

        <!-- Botones -->
        <div class="row mt-4">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Guardar</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-secondary form-control">Volver</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}